name: Terraform Apply

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: "93928d42-e0bd-4d2a-8bc7-58fc033afe49"
      ARM_CLIENT_SECRET: ${{ secrets.TF_ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: "fab0735b-aac3-490e-ad20-68043a66483b"
      ARM_TENANT_ID: "21893490-d4d6-4461-b092-15a805c58477"

    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve